/* CUSTOM PRODUCTBLOKS
    additional styles for PBX purpose
     */

/* Top logo bar with PBX logo */
.toplogobar {
  width: 100%;
  display: table;
  background-color: #5a5a5a;
  height: 60px;
}
.logo-div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.logo-img {
  width: 50%;
  margin: 0;
}

.bottombar {
  height: 150px;
  width: 100%;
  background-color: #5a5a5a;
}
.bottombar-parameter-display {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: table;
}
.bottombar-parameter-button {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: table;
  background-color: #757575;
}
.bottombar-test1 {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: table;
  background-color: #757575;
}

.bottombar-test2 {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: table;
  background-color: #42ff3b;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 150px;
}

.body-box-content {
  flex: 1 1 auto;
  padding: 0px;
}

.carousel-item {
  margin: 0px;
}
